<!DOCTYPE html>
{% load static %}
<html lang="tr">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ settings.title }}</title>
    {% block seo %}
    <meta name="description" content="{{ settings.description }}">
    <meta name="author" content="{{ settings.author }">
    {% endblock seo %}
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet"> 
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/colors.css' %}" rel="stylesheet">
    <link href="{% static 'css/version/tech.css' %}"rel="stylesheet">
</head>
<body>

    <div id="wrapper">

        {% include "partials/_navbar.html" %}
        {% block body %}
        
        {% endblock body %}
        {% include "partials/_footer.html" %}
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/tether.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>
</html>