{% load static %}

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="widget">
                            <div class="footer-text text-left">
                                <h3 style="color:white; font-weight:bold;" class="mt-2">Siberatay</h3>
                                <p>Siberatay dünyanın dört bir yerinden eşsiz bilgiler içeren kurumsal bir siber güvenlik platformu.</p>
                                <div class="social">
                                    <a href="{{ settings.facebook }}" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>              
                                    <a href="{{ settings.twitter }}" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="{{ settings.instagram }}" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>                                    <a href="{{ settings.youtube }}" data-toggle="tooltip" data-placement="bottom" title="Youtube"><i class="fa fa-youtube"></i></a>
                                </div>
                            </div><!-- end footer-text -->
                        </div><!-- e nd widget -->
                    </div><!-- end col -->

                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <h2 class="widget-title">Kategoriler</h2>
                            <div class="link-widget">
                                <ul>
                                    <li><a href="{% url 'news' %}">Haberler</a></li>
                                    <!-- <li><a href="{% url 'videos' %}">Videolar</a></li> -->
                                    <li><a href="{% url 'articles' %}">Makaleler</a></li>
                                </ul>
                            </div><!-- end link-widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->
                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <h2 class="widget-title">Siberatay</h2>
                            <div class="link-widget">
                                <ul>
                                    <li><a href="{% url 'contact' %}">İletişim</a></li>
                                </ul>
                            </div><!-- end link-widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <br>
                        <div class="copyright">{{ settings.footer }}</div>
                    </div>
                </div>
            </div><!-- end container -->
        </footer><!-- end footer -->