{% load static %}
  <div id="main">
    <div class="topnav">
      <a href="#"><span style="cursor:pointer" onclick="openNav()">&#9776;</span></a>
      <a  href="https://siberatay.com/" class="showalways"  style="background-color:#f2f2f2;">
        <b style="color:#000000;" >Siber</b><b style="color:#ff0000;">atay</b>
      </a>


      <a href="{% url 'news' %}">Haber</a>
      <!-- <a href="{% url 'videos' %}">Video</a> -->
      <a href="{% url 'articles' %}">Makale</a>
      <div style="position: absolute; right: 15px;">
        {% if request.user.is_authenticated %}
          <a href="{% url 'profile' %}" class="showalways drop375" style="padding: 0 !important;"><img style="border-radius: 50%; width:50px; height:50px; right: 150px;" src="{{ user.image.url }}" alt="Avatar"></a>
          <a class="showalways" href="{% url 'profile' %}">{{ user.first_name }} {{ user.last_name }}</a>
          <a class="showalways drop400" href="{% url 'logout' %}">Çıkış Yap</a>
          
        {% else %}
          <a class="showalways" href="{% url 'register' %}">Kayıt Ol</a>
          <a class="showalways drop400" href="{% url 'login' %}">Giriş Yap</a>
        {% endif %}
        <!-- <input type="text" value="Ne Aramak İstersiniz ?"> -->
      </div>

      <div class="dropdown">
      <button class="dropbtn">Kategoriler
        <i class="fa fa-list-alt"></i>
      </button>
      <div class="dropdown-content">
        {% for category in all_categories  %}
            <a href="/{{ category.slug }}/">{{ category.name }}</a>

        {% endfor %}
      </div>
    </div> 
    <a href="{% url 'contact' %}">İletişim</a>
    </div>
  
  
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="{% url 'index' %}">Anasayfa</a>
      <a href="{% url 'users' %}">Üyeler</a>
      <hr style="border: 1px solid white;">
      <a href="{% url 'favorites' %}">En Çok Beğenilenler</a>
      <a href="{% url 'trend' %}">En Çok Okunanlar</a>
      <hr style="border: 1px solid white;">
      <a href="{% url 'news' %}">Haberler</a>
      <!-- <a href="{% url 'videos' %}">Videolar</a> -->
      <a href="{% url 'articles' %}">Makaleler</a>
      <hr style="border: 1px solid white;" class="mobilecat">
      <button class="dropdown-btn mobilecat">Kategoriler
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        {% for category in all_categories  %}
            <a href="/{{ category.slug }}/">{{ category.name }}</a>
        {% endfor %}
      </div>
      <hr style="border: 1px solid white;">
      <a href="{% url 'contact' %}">İletişim</a>

      <hr style="border: 1px solid white;">
      {% if request.user.is_authenticated %}
      <a href="{% url 'profile' %}">{{ user.first_name }} {{ user.last_name }}</a>
      <a href="{% url 'rank_request' %}">Bize Katılmak İster misin ?</a>
      <a href="{% url 'logout' %}">Çıkış Yap</a>
    {% else %}
      <a href="{% url 'register' %}">Kayıt Ol</a>
      <a href="{% url 'login' %}">Giriş Yap</a>
    {% endif %}
    </div>
    <script>
      var dropdown = document.getElementsByClassName("dropdown-btn");
var i;

for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var dropdownContent = this.nextElementSibling;
    if (dropdownContent.style.display === "block") {
      dropdownContent.style.display = "none";
    } else {
      dropdownContent.style.display = "block";
    }
  });
}
      </script>