{% load static %}
  <div id="main">

    <nav class="mainnav">
      <a href="/"><div class="logosiberatay">Siber<b style="color:white !important;">Atay</b></div></a>

      <label for="btn" class="icon">
        <span class="fa fa-bars" aria-hidden="true"></span>
      </label>
      <input type="checkbox" id="btn">
      <ul>
        <li><a href="{% url 'news' %}">Haber</a></li>
        <li><a href="{% url 'articles' %}">Makale</a></li>
        <li>
          <label for="btn-1" class="show">Kategoriler +</label>
          <a href="#">Kategoriler ▼</a>
          <input type="checkbox" id="btn-1">
          <ul style="padding: 0 !important;">
            {% for category in all_categories  %}
              <li><a href="/{{ category.slug }}/">{{ category.name }}</a></li>
            {% endfor %}

          </ul>
        </li>
        <li>
          <label for="btn-2" class="show">Popüler +</label>
          <a href="#">Popüler ▼</a>
          <input type="checkbox" id="btn-2">
          <ul style="padding: 0 !important;">
            <li><a href="{% url 'favorites' %}">En Çok Beğenilen</a></li>
            <li><a href="{% url 'trend' %}">En Çok Okunan</a></li>
          </ul>
        </li>
        <li><a href="{% url 'users' %}">Üyeler</a></li>
        <li><a href="{% url 'contact' %}">İletişim</a></li>
        {% if request.user.is_authenticated %}

          <li style="border-left: 5px solid white; height: 70px;">
            <a href="{% url 'profile' %}" style="color:white !important; padding: 0 !important; margin-left: 10px;" class="nav-link"> 
              <span >
                {% if author.image %}
                <img src="{{ user.image.url }}" alt="{{ user.first_name }} {{ user.last_name }}" width="40" height="40" class="profilpicture" style="margin: 0; background-color: white; border-radius: 50%;">
                {% else %}
                <img src="/static/upload/author/default.jpg" alt="{{ user.first_name }} {{ user.last_name }}" width="40" height="40" class="profilpicture" style="margin: 0; background-color: white; border-radius: 50%;">

                {% endif %}
                {{ user.first_name }} {{ user.last_name }}
              </span>
            </a>
          </li>

          <li>
            <label for="btn-3" class="show">İşlemler +</label>
            <a href="#">İşlemler ▼</a>
            <input type="checkbox" id="btn-3">
            <ul style="padding: 0 !important; width: 100% !important; margin-left: -150px;">


              {% if request.user.is_staff %}
                <li><a href="/portal_f4bf9f7fcbedaba0392f108c59d8f4a38b3838efb64877380171b54475c2ade8" target="_blank">Yönetim Paneli</a></li>
              {% endif %}
              <li><a href="{% url 'rank_request' %}">Bize Katılmak İster misin ?</a></li>
              <li><a href="/cikis-yap/">Çıkış Yap</a></li>

            </ul>
          </li>



          
        {% else %}
          <li><a href="{% url 'register' %}">Kayıt Ol</a></li>
          <li><a href="{% url 'login' %}">Giriş Yap</a></li>
        {% endif %}

      </ul>
    </nav>





    <script>
      var dropdown = document.getElementsByClassName("dropdown-btn");
var i;

for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var dropdownContent = this.nextElementSibling;
    if (dropdownContent.style.display === "block") {
      dropdownContent.style.display = "none";
    } else {
      dropdownContent.style.display = "block";
    }
  });
}
      </script>
