.mainnav > *{
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}
.mainnav{
  background: #1b1b1b;
}
.mainnav:after{
  content: '';
  clear: both;
  display: table;
}
.mainnav .logosiberatay{
  float: left;
  color: red;
  font-size: 27px;
  font-weight: 600;
  line-height: 70px;
  padding-left: 60px;
}
.mainnav ul{
  float: right;
  margin-right: 40px;
  list-style: none;
  position: relative;
}
.mainnav ul li{
  float: left;
  display: inline-block;
  background: #1b1b1b;
  margin: 0 5px;
}
.mainnav ul li a{
  color: white;
  line-height: 70px;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 15px;
}
.mainnav ul li a:hover{
  color: red;
  border-radius: 5px;
  box-shadow:  0 0 5px white,
               0 0 11px red;
}

.mainnav ul li a:hover > .profilpicture{
  color: red;
  border-radius: 5px;
  box-shadow:  0 0 5px white,
               0 0 11px red;
}



.mainnav ul ul li a:hover{
  box-shadow: none;
}
.mainnav ul ul{
  position: fixed;
  top: 90px;
  border-top: 3px solid red;
  opacity: 0;
  visibility: hidden;
  transition: top .3s;
}
.mainnav ul ul ul{
  border-top: none;
}
.mainnav ul li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  z-index: 1 !important;
}
.mainnav ul ul li{
  position: relative;
  margin: 0px;
  width: auto;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
.mainnav ul ul li a{
  line-height: 33px;
}
.mainnav ul ul ul li{
  position: relative;
  top: -60px;
  left: 150px;
}
.show,.icon,input{
  display: none;
}
.fa-plus{
  font-size: 15px;
  margin-left: 40px;
}
@media all and (max-width: 1315px) {
  .mainnav {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    overflow: auto !important;
    max-height: 630px;
    scrollbar-color: red white;
  }
  .mainnav ul{
    margin-right: 0px;
    float: left;

  }
  .mainnav .logo{
    padding-left: 30px;
    width: 100%;
  }
  .show + a, ul{
    display: none;
  }
  .mainnav ul li,.mainnav ul ul li{
    display: block;
    width: 100%;

  }
  .mainnav ul li a:hover{
    box-shadow: none;
  }
  .show{
    display: block;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }
  .show:hover{
    color: red;
  }

  .icon{
    display: block;
    color: white;
    position: absolute;
    top: 0;
    right: 40px;
    line-height: 70px;
    cursor: pointer;
    font-size: 25px;
  }
  .mainnav ul ul{
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
  }
  .mainnav ul ul a{
    padding-left: 40px;
  }
  .mainnav ul ul ul a{
    padding-left: 80px;
  }
  .mainnav ul ul ul li{
    position: static;
  }
  [id^=btn]:checked + ul{
    display: block;
    margin-left: 0px !important;
  }
  .mainnav ul ul li{
    border-bottom: 0px;
  }
  span.cancel:before{
    content: '\f00d';
  }
}
.registerUser input[type='checkbox'] {
  display: inline;
  margin:0 !important;
  cursor: pointer;
}
.passwordreset  input {
  display: block !important;
  margin:0 !important;
}