{% extends "partials/_base.html" %}
{% load static %}
{% block seo %}
    <meta name="description" content="{{ article.description }}">
    <meta name="author" content="{{ article.author }}">
{% endblock seo %}
{% block body %}
        <section class="section single-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <div class="blog-title-area text-center">
                                <ol class="breadcrumb hidden-xs-down">
                                    <li class="breadcrumb-item"><a href="/">Anasayfa {{control_like}}</a></li>
                                    <li class="breadcrumb-item"><a href="/{{ article.category.slug }}/">{{ article.category.name }}</a></li>
                                    <li class="breadcrumb-item active">{{ article.title }}</li>
                                </ol>

                                <span><a style="background-color: #009ff2; color: white !important;" href="/{{ article.category.slug }}/"> Makale | {{ article.category.name }}</a></span>

                                <h3>{{article.title}}</h3>

                                <div class="blog-meta big-meta">
                                    <small><a href="#" title="">{{ article.created_date }}</a></small>
                                    <small><a href="/writer/{{ article.writer.slug }}/" title="">{{ article.writer.first_name }} {{ article.writer.last_name }}</a></small>
                                    <small><i class="fa fa-eye"></i> {{ article.views }}</small>
                                </div><!-- end meta -->
                            </div><!-- end title -->

                            <div class="single-post-media"> 
                                <img  src="{{ article.image.url }}" alt="{{ article.image.url }}" style="width: 788px !important; height:488px !important" class="img-fluid">
                            </div><!-- end media -->

                            <div class="blog-content">  
                                {{ article.content | safe }}
                            </div><!-- end content -->
                            {% if request.user.is_authenticated %}
                            <div class="panel">  

                                <button id="like" class="fb-button btn btn-warring">
                                    {% if control_like == False or control_like == None %}
                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                    <span class="down-mobile">
                                        Beğen
                                    </span>
                                    {% else %}
                                    <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                    <span class="down-mobile">
                                        Beğenmekten Vazgeç
                                    </span>
                                    {% endif %}
                                </button>
                                    <input id="article_id" type="hidden" value="{{ article.id }}" name="article_id">
                            </div><!-- end content -->
                            {% endif %}



                            <hr class="invis1">
                            <div class="custombox authorbox clearfix">
                                <h4 class="small-title">Yazar Hakkında</h4>
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                        <img src="{{ article.writer.image.url }}" alt="{{ article.writer.first_name }}  {{ article.writer.last_name }}" class="img-fluid rounded-circle">                                     </div><!-- end col -->

                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                        <h4><a href="/writer/{{ article.writer.slug }}/">{{ article.writer.first_name }}  {{ article.writer.last_name }}</a></h4>
                                    </div><!-- end col -->
                                </div><!-- end row -->
                            </div>


                            <hr class="invis1">

                            <div class="custombox clearfix">
                                <h4 class="small-title">Yorumlar</h4>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="comments-list">

                                        {% if count == 0 %}
                                            <p>Henüz Yorum Yapılmadı.</p>
                                        {% else %}
                                            {% for comment in comments  %}

                                                {% if comment.available == 1 %}
                                                <div class="media">
                                                    <a class="media-left" href="#">
                                                        <img src="{% static 'upload/author.png' %}" alt="" class="rounded-circle">
                                                    </a>
                                                    <div class="media-body">
                                                        <h4 class="media-heading user_name">{{ comment.name }}<small>{{ comment.created_date }}</small></h4>
                                                        <p>{{ comment.content }}</p>
                                                    </div>
                                                </div>
                                                {% else %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}    
                                        </div>
                                    </div><!-- end col -->
                                </div><!-- end row -->
                            </div><!-- end custom-box -->

                            <hr class="invis1">
                            {% if request.user.is_authenticated %}
                            <div class="custombox clearfix">
                                <h4 class="small-title">Yorum Paneli</h4>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div id="commentpanel" class="form-wrapper">
                                            <input type="hidden" id="slug" value="{{ article.slug }}" class="form-control" >
                                            <input type="hidden" id="type" value="{{ article.table_name }}" class="form-control" >
                                            <textarea class="form-control" id="content" placeholder="Yorumunuz"></textarea>
                                            <button id="comment" class="fb-button btn btn-warring"><i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                                <span class="down-mobile">Yorum Yap</span></button>                                        
                                            </div>
                                        </div>
                                </div>
                            </div>
                            {% else %}
                            <div class="custombox clearfix">
                                <h4 class="small-title">Yorum Paneli</h4>
                                <div class="row">
                                    <div class="col-lg-12">
                                        Yorum Yapmak İçin Lütfen Giriş Yapınız.
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                        </div><!-- end page-wrapper -->
                    </div><!-- end col -->
                      <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="sidebar">
                            {% include "partials/_sidebar.html" %}
                        </div><!-- end row -->
                        </div>
                        </div>
            </div><!-- end container -->
        </section>
        <script>
            $(document).ready(function() {
                $("button[id^='like'").click(function() {
                    var id = $(this).closest(".panel").find('#article_id').val();
                    $.ajax({
                        url: "{% url 'article_like' %}",
                        type: 'POST',
                        data: {
                            id: id
                        },
                        success: function(data) {
                            //toastr.success(data, 'Success', {timeOut: 1000, progressBar : true});
                            window.location.reload()
                        }
                    });
                });

                $("button[id^='comment'").click(function() {
                    var slug = $(this).closest("#commentpanel").find('#slug').val();
                    var type = $(this).closest("#commentpanel").find('#type').val();
                    var content = $(this).closest("#commentpanel").find('#content').val();
                    $.ajax({
                        url: "{% url 'article_comment' %}",
                        type: 'POST',
                        data: {
                            slug: slug,
                            type: type,
                            content: content,
                        },
                        success: function(data) {
                            if (data === "None"){
                                toastr.error("Boş Yorum Yapamazsınız !!!", 'Durum', {timeOut: 2000, progressBar : true});
                            }else {
                                toastr.success(data, 'Durum', {timeOut: 2000, progressBar : true});
                            }
                        }
                    });
                });
            });
        </script>
{% endblock body %}

