{% extends "partials/_base.html" %}
{% load static %}
{% block body %}

<div class="page-title lb single-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <h2><i class="fa fa-font-awesome bg-orange"></i>Yönetici Sayfası</h2>
                    </div><!-- end col -->
                    <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                            <li class="breadcrumb-item active">Yönetici Sayfası</li>
                        </ol>
                    </div><!-- end col -->                    
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end page-title -->

        <section class="section wb">
            <div class="container">
                {% include 'partials/_messages.html' %}
                <div class="row d-flex">
                    YÖNETİCİ SAYFASI
                </div><!-- end row -->
            </div><!-- end container -->
        </section>
{% endblock body %}
