{% extends "partials/_base.html" %}
{% load static %}
{% block body %}

<div class="page-title lb single-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <h2><i class="fa fa-building-o bg-orange"></i>Aktivasyon Onay</h2>
                    </div><!-- end col -->
                    <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                            <li class="breadcrumb-item active">Aktivasyon</li>
                        </ol>
                    </div><!-- end col -->                    
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end page-title -->

        <section class="section wb">
            <div class="container">
                <div class="row">
                    <div cslass="col-lg-12">
                        <div class="page-wrapper">
                            <div class="row" >
                                
                                <div class="col-lg-12 d-flex ">
                                   <h2 class="text-center">{{msg}}</h2><br>
                                   <br></br> <br></br> <br>
                                </div>
                                <div>
                        </div><!-- end page-wrapper -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section><br><br><br>
{% endblock body %}
