{% extends "partials/_base.html" %}
{% load static %}

{% block seo %}
    <meta name="description" content="{{ settings.descripton }}">
    <meta name="author" content="{{ settings.author }}">
    <meta property="og:title" content="{{ settings.title }}" />
    <meta property="og:url" content="https://siberatay.com/" />
    <meta property="og:image" content="https://siberatay.com/{{ settings.logo }}" />
{% endblock seo %}
{% block body %}

        <section class="section first-section">
            <div class="container-fluid">
                <div class="masonry-blog clearfix">


                {% for slider in slider_article %}
                    <div class="first-slot">
                        <div class="masonry-box post-media">
                             <img src="{{ slider.image.url }}" alt="slider" style="width:900px;height:443px;" class="img-fluid">
                             <div class="shadoweffect">
                                <div class="shadow-desc">
                                    <div class="blog-meta">
                                        <h4><a href="{{ slider.url }}">{{ slider.title }}</a></h4>
                                        <small>{{ slider.created_date }}</small>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                {% endfor %}  
                
                
                </div>
            </div>
        </section>
        
        <section class="section">
            <div class="container">
            <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            {% include 'partials/_messages.html' %}
            </div>
            </div>
                <div class="row ">

                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <div class="blog-top clearfix">
                                <h4 class="pull-left">Son Eklenen Gönderiler <a href="#"><i class="fa fa-rss"></i></a></h4>
                            </div>
                            <div id="blog-list" class="blog-list clearfix"></div>
                                <div id="spinner-box" class="not-visible">
                                    <div class="spinner-border text-primary" role="status"></div>
                                </div>
                                <div id="loading-box">
                                    <button class="btn btn-primary" id="load-btn">Daha Fazla Yükle</button>
                                </div>

                            <!-- end blog-list -->
                        </div><!-- end page-wrapper -->



                    </div><!-- end col -->
                      <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="sidebar">                            
                            {% include "partials/_sidebar.html" %}
                </div><!-- end row -->
                 </div>
                    </div>
                </div><!-- end row -->
            </div><!-- end container -->
        </section>
        <script >
            const postsBox = document.getElementById('blog-list')
            console.log(postsBox);
            const spinnerBox = document.getElementById('spinner-box')
            const loadBtn = document.getElementById('load-btn')
            const loadBox = document.getElementById('loading-box')
            let visible = 5 
            
            const handleGetData = () => {
                $.ajax({
                    type: 'GET',
                    url: `/posts_json/${visible}/`,
                    success: function(response){
                        maxSize = response.max
                        const data = response.data
                        spinnerBox.classList.remove('not-visible')
                        setTimeout(()=>{
                            spinnerBox.classList.add('not-visible')
                            data.map(post=>{
                                console.log(post)
                                postsBox.innerHTML += `
                                <div class="blog-box row">
                                <div class="col-md-6">
                                        <div class="post-media">
                                            <a href="/${post.category_slug}/${post.article_slug}/" "title="${post.article_title}">
                                                <img src="${post.article_image}" alt="${post.article_image}" style="width: 788px !important; height:200px !important" class="img-fluid">
                                             <div class="hovereffect"></div>
                                            </a>
                                        </div><!-- end media -->
                                    </div><!-- end col -->
                                    <div class="blog-meta big-meta col-md-6">
                                        <h4><a href="/${post.category_slug}/${post.article_slug}/" title="${post.article_title}">${post.article_title}</a></h4>
                                        <p>${post.article_content}</p>
                                        <small class="firstsmall"><a class="bg-orange" href="/${post.category_slug}/" title="${post.category_title}">${post.category_title}</a></small>
                                        <small>${post.article_created_date}</small>
                                        <small><a href="writer/${post.writer_slug}/" title="${post.writer_name}">${post.writer_name}</a></small>
                                        <small><i class="fa fa-eye"></i> ${post.view_count}</small>

                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->
                                <br><br>
                                `
                            })
                            if(maxSize){
                                console.log('done')
                                loadBox.innerHTML = "<h4>Yüklenecek Başka Gönderi Yok</h4>"
                                
                            }
                        }, 500)
                    },
                    error: function(error){
                        console.log(error)
                    }
                })
            }
            
            handleGetData()
            
            loadBtn.addEventListener('click', ()=>{
                visible += 5
                handleGetData()
            })
            </script>
{% endblock body %}

