{% extends "partials/_base.html" %}
{% load static %}
{% block body %}

<div class="page-title lb single-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <h2><i class="fa fa-font-awesome bg-orange"></i>Profil Sayfası</h2>
                    </div><!-- end col -->
                    <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                            <li class="breadcrumb-item active">Profil Sayfası</li>
                        </ol>
                    </div><!-- end col -->                    
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end page-title -->

        <section class="section wb">
            <div class="container">
                {% include 'partials/_messages.html' %}
                <div class="row d-flex">
                    <div class="col-lg-4">
                       <form id="infoForm" method="post" enctype="multipart/form-data">
                        <label for="inputEmail4">E-Posta</label>
                        <input type="email" name="email" class="form-control" value="{{ user.email }}" placeholder="E-Posta">
                        <br>
                        <label for="inputEmail4">Ad</label>
                        <input type="text" name="first_name" class="form-control" value="{{ user.first_name }}" placeholder="Adınız">
                        <br>
                        <label for="inputEmail4">Soyad</label>
                        <input type="text" name="last_name" class="form-control" value="{{ user.last_name }}" id="inputEmail4" placeholder="Soyadınız">
                        <br>
                        <label for="inputEmail4">Doğum Tarihi</label>
                        <input type="date" name="birthday"  class="form-control" value="{{ user.birthday }}" placeholder="Doğum Tarihi">
                        <br>
                        <label for="exampleFormControlTextarea1">Hakkında</label>
                        <textarea name="description" class="form-control" rows="5">{{ user.description }}</textarea>
                        <br>
                        <label for="vehicle1">Profilimi Göster 
                            <input type="checkbox" 
                            {% if user.profile_activate %}
                            checked
                            {% endif %}
                            name="profile_activate" class="form-control" id="vehicle1"></label>
                        <br>
                    </div><!-- end col -->
                    <div class="col-lg-4">
                         <label for="inputEmail4">Facebook</label>
                         <input type="text" name="facebook" class="form-control" value="{{ user.facebook }}" placeholder="Facebook">
                         <br>
                         <label for="inputEmail4">İnstagram</label>
                         <input type="text" name="instagram" class="form-control" value="{{ user.instagram }}" placeholder="İnstagram">
                         <br>
                         <label for="inputEmail4">Twitter</label>
                         <input type="text" name="twitter" class="form-control" value="{{ user.twitter }}" placeholder="Twitter">
                         <br>
                         <label for="inputEmail4">Linkedin</label>
                         <input type="text" name="linkedin" class="form-control" value="{{ user.linkedin }}" placeholder="Linkedin">
                         <br>
                         <label for="inputEmail4">Github</label>
                         <input type="text" name="github" class="form-control" value="{{ user.github }}" placeholder="Github">
                         <br>
                         <label for="inputEmail4">Web Site</label>
                         <input type="text" name="website" class="form-control" value="{{ user.website }}" placeholder="Web Site">
                         <br>
                         <button type="submit" class="btn btn-primary">Kaydet</button>
                     </div><!-- end col -->
                     <div class="col-lg-4">
                        <img src="{{ user.image.url }}" alt="yazar" class="img-fluid rounded-circle">
                        <br><br>
                        <label for="inputEmail4">Profil Fotoğrafı</label>
                        <input type="file" name="image"  class="form-control" id="inputEmail4">
                        <br>
                        <input type="hidden" name="old_image" class="form-control" id="inputEmail4" value="{{ user.image.url }}">
                        <input type="hidden" name="old_cv" class="form-control" id="inputEmail4" value="{{ user.cv.url }}">
                        <a target="_blank" href="{{ user.cv.url }}">Cv Görüntüle</a><br>
                        <label for="inputEmail4">Cv Yükle</label>
                        <input type="file" name="cv"  class="form-control" id="inputEmail4">
                     </form>
                     </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>
{% endblock body %}
