{% extends "partials/_base.html" %}
{% load static %}
{% block body %}

<div class="page-title lb single-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <h2><i class="fa fa-building-o bg-orange"></i>Hizmetlerimiz</h2>
                    </div><!-- end col -->
                    <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                            <li class="breadcrumb-item active">Hizmetlerimiz</li>
                        </ol>
                    </div><!-- end col -->                    
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end page-title -->

        <section class="section wb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card text-center " style="width: 18rem;">
                            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/062.webp" class="card-img-top" alt="Chicago Skyscrapers"/>
                            <div class="card-body">
                              <h5 class="card-title mt-2">Sosyal Medya</h5>
                              <p class="card-text">Sosyal Medya Yönetimi</p>
                              <hr>
                              <p>Sosyal medya hesaplarınızın İçerik yönetimi, içerik paylaşımı, kitle analizleri, medya kritikleri konularında, alanında profesyonel ekibimizle sizlere yardımcı oluyoruz.</p>
                            </div>
                            <div class="card-body text-center mt-2 mb-3">
                              <a href="/" class="card-link btn btn-info btn-xm">Bilgi Al</a>
                            </div>
                          </div>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>
{% endblock body %}
